.App {
  text-align: center;
  color:#fff;
}


.css-typing h2 {
  width: 100%;
  margin-block-start: 0em;
    margin-block-end: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  border-right: .28em solid orange;
  font-family: "Montserrat";
  font-size: 26px;
  white-space: nowrap;
  overflow: hidden;
  color: #61dafb
}
.css-typing h2:nth-child(1) {
  width: 13em;
  -webkit-animation: type 5s steps(40, end);
  animation: type 6s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h2:nth-child(2) {
  width: 35em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 6s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h2:nth-child(3) {
  width: 42em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 13s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing h2:nth-child(4) {
  width: 55em;
  opacity: 0;
  -webkit-animation: type2 2s steps(20, end);
  animation: type2 6s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 22s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing h2:nth-child(5) {
  width: 15em;
  opacity: 0;
  -webkit-animation: type2 2s steps(20, end);
  animation: type2 6s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 26s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
float: left;
    width: 17%;
}

input {
  width: 200px;
  height: 38px;
}

.btn.btn-primary-submit {
  width: 205px;
  height: 38px;
  color: #333;
  font-size: 13px;
}

header p img {
  margin-right: 8px;
  max-width: 22px;
  margin-bottom: -3px;
}


header p a{
  font-size: 21px;
  /* font-weight: 100; */
  float: left;
  color: black;
  text-decoration:none;
}

.logo {
  width: 108%;
  margin-top: 39px;
  margin-bottom: 2px;

}

html {
  background-color: #282c34;
}

.main {
  width: 81.5%;
    float: right;
    margin-top:0.7%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:18.5%;
  float:left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

