.App {
  text-align: center;
  color:#fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
float: left;
    width: 17%;
}

input {
  width: 200px;
  height: 38px;
}

.btn.btn-primary-submit {
  width: 205px;
  height: 38px;
  color: #333;
  font-size: 13px;
}

header p img {
  margin-right: 8px;
  max-width: 22px;
  margin-bottom: -3px;
}


header p a{
  font-size: 21px;
  /* font-weight: 100; */
  float: left;
  color: black;
  text-decoration:none;
}

.logo {
  width: 73%;
  margin-top: 29px;
  margin-bottom: 10px;
}

html {
  background-color: #282c34;
}

.main {
  width: 81.5%;
    float: right;
    margin-top:0.7%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:18.5%;
  float:left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ??????????????????????? */

.chat-container {
  background-color: #f2f2f2;
  color: #404040;
  width: 48%;
  margin: 40px auto;
  border: 1px solid #e1e1e8;
  border-radius: 5px;
}
.user-select-container {
  background-color: #ffffff;
  padding: 20px 40px 20px;
  border-radius: 5px 5px 0 0;
}
.user-select-container select {
  height: 30px;
  margin-left: 20px;
  font-size: 14px;
  min-width: 150px;
}
.input-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
.text-input-container {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 100%;
}
.text-input {
  background-color: #f2f2f2;
  width: 80%;
  height: 32px;
  border: 0;
  border-radius: 20px;
  outline: none;
  padding: 0 20px;
  font-size: 14px;
}
.input-button {
  width: 19%;
  border-radius: 20px;
  height: 32px; 
  outline: none;
  cursor: pointer;
}

.message-container {
  height: 300px;
  overflow: scroll;
  list-style-type: none;
}
.message-time {
  float: right;
  margin-right: 40px;
}
.message {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.message picture {
  width: 15%
}
.message-info {
  width: 65%;
}
.message-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.message-name {
  margin-top: 0;
  margin-bottom: 5px;
}
.message-text {
  margin-top: 8px;
}